.navbar {
  background-color: #3b32ec;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-logo a {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: #000000; 
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.badge {
  background: red;
  color: #fff;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 5px;
  font-size: 12px;
}

.logout-btn {
  background: #ff4444;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.logout-btn:hover {
  background: #cc0000;
}

/* Mobile */
.menu-icon {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: rgb(0, 0, 0);
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    z-index: 101;
  }

  .nav-links {
    position: fixed;
    top: 60px;
    right: -250px;
    width: 200px;
    height: 100vh;
    background: #6c63ff;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: right 0.3s ease;
    padding-top: 20px;
    display: flex;
    z-index: 100;
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links li {
    margin: 15px 0;
  }
}
